body {
    background-color: lightblue;
}

input
{
    border-style:solid;
    border-width:2px;
    border-color:white;
}

button
{
    border-style:solid;
    border-width:2px;
    border-color:white;
    background-color:transparent;
    color:white;
}